<div class="portfolio d-flex justify-content-center align-items-center">
    <div class="py-5">
        <h2 class="text-center text-uppercase mb-2 fw-bolder fs-1">PORTFOLIO COMPONENT</h2>
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="line me-3"></div>
            <i class="fa fa-star d-flex justify-content-center "></i>
            <div class="line ms-3"></div>
        </div>
        <div class="container">
            <div class="row gy-4">
                <div class="col-md-4">
                    <div class="position-relative overflow-hidden rounded-3">
                        <img src="assets/imges/poert1.png" class="w-100" alt="">
                        <div class="layer position-absolute d-flex justify-content-center align-items-center">
                            <i class="fa fa-plus fs-1 text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative overflow-hidden rounded-3">
                        <img src="assets/imges/port2.png" class="w-100" alt="">
                        <div class="layer position-absolute d-flex justify-content-center align-items-center">
                            <i class="fa fa-plus fs-1 text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative overflow-hidden rounded-3">
                        <img src="assets/imges/port3.png" class="w-100" alt="">
                        <div class="layer position-absolute d-flex justify-content-center align-items-center">
                            <i class="fa fa-plus fs-1 text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative overflow-hidden rounded-3">
                        <img src="assets/imges/poert1.png" class="w-100" alt="">
                        <div class="layer position-absolute d-flex justify-content-center align-items-center">
                            <i class="fa fa-plus fs-1 text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative overflow-hidden rounded-3">
                        <img src="assets/imges/port2.png" class="w-100" alt="">
                        <div class="layer position-absolute d-flex justify-content-center align-items-center">
                            <i class="fa fa-plus fs-1 text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative overflow-hidden rounded-3">
                        <img src="assets/imges/port3.png" class="w-100" alt="">
                        <div class="layer position-absolute d-flex justify-content-center align-items-center">
                            <i class="fa fa-plus fs-1 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
