.portfolio {
    min-height: calc(100vh - 7.2rem);
}

.line {
    width: 5rem;
    height: 3px;
    background-color: black;
}

.col-md-4 .layer {
    width: 100%;
    height: 100%;
    background-color: #1abc9ce6;
    top: 0;
    transition: opacity 0.5s;
    opacity: 0;

}

.col-md-4:hover .layer {
    opacity: 1;

}
