<div class="d-flex justify-content-center align-items-center home text-white py-3">
    <div>
        <div class="d-flex justify-content-center">
            <img src="assets/imges/avataaars.svg" class="my-4 w-100" alt="">
        </div>
        <div class="home-content">
            <h2 class="mb-3 fw-bolder">START FRAMEWORK</h2>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <div class="line me-3"></div>
                <i class="fa fa-star d-flex justify-content-center "></i>
                <div class="line ms-3"></div>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>